.god {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	background: #000000;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, sans-serif; 
}

.god_title {
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 5px;
}

.god_annonce {	
	font-size: 7pt;
	background: #4c4c4c;
	color: #ffffff;
	font-weight: bold;
	padding: 2px;
}

.god_annonce_cadre {
	padding: 5px;
	background: #191919;
	border-bottom: 1px solid #4c4c4c;
	border-left: 1px solid #4c4c4c;
	border-right: 1px solid #4c4c4c;
}

/* 
 * Edit template text
 */
 
.god_edit_tpl_text {
	font-weight: normal;
	padding: 5px;
	margin: 5px;
	width: 800px;
	height: 200px;
	border: 0px;
}

.god_edit_tpl_submit {
	font-weight: bold;
	padding: 5px;
}

/* 
 * Show template value
 */
.god_edit_tpl_value_title {
	font-weight: bold;
	padding: 5px;
	background: #4c4c4c;
}

.god_edit_tpl_value {
	padding-right: 5px;
	background: #ffffff;
	color: #000000;
}
